In [1]:
import requests
url = 'https://mops.twse.com.tw/mops/web/ajax_t100sb15'
payload = {
'encodeURIComponent': '1',
'step': '1',
'firstin': '1',
'TYPEK': 'sii',
'RYEAR': '108'
}
res = requests.post(url, data = payload)

In [3]:
import pandas
dfs = pandas.read_html(res.text)

In [4]:
df = dfs[0].iloc[:,[0,1,2,5,6,7]]

In [6]:
df.head()

   產業類別  公司代號 公司名稱 非擔任主管職務之全時員工資訊
   產業類別  公司代號 公司名稱 員工薪資-平均數(仟元/人)         員工薪資-中位數(仟元/人)
   產業類別  公司代號 公司名稱           108年    107年           108年
0  水泥工業  1101   台泥           1017   963.0            876
1  水泥工業  1102   亞泥           1257  1230.0           1110
2  水泥工業  1103   嘉泥           1312  1196.0           1132
3  水泥工業  1104   環泥            785   822.0            722
4  水泥工業  1108   幸福            505   504.0            469

In [7]:
df.columns = ['產業類別','公司代號','公司名稱','平均108','平均107','中位數108']

In [10]:
df.sort_values('中位數108',ascending=False)

      產業類別  公司代號 公司名稱  平均108   平均107  中位數108
511   半導體業  3034   聯詠   2713  2542.0    2398
272  其他電子業  2354   鴻準   3053  2457.0    2388
343   半導體業  2454  聯發科   2647  2705.0    2339
517   半導體業  3041   揚智   2416  1641.0    2054
292   半導體業  2379   瑞昱   2100  1993.0    1819
..     ...   ...  ...    ...     ...     ...
338  通信網路業  2444   兆勁    442   468.0     360
434   觀光事業  2712  遠雄來    427   431.0     348
429   觀光事業  2702   華園    407   386.0     344
435   觀光事業  2722   夏都    386   365.0     337
24    食品工業  1235   興泰    312   342.0     332

[859 rows x 6 columns]

In [16]:
import numpy
a = (numpy.random.randn(100) * 10 +70).astype(int)
a.mean()

71.42

In [19]:
s = pandas.Series(a)
s.median()

72.0

In [ ]:
#這邊示範如果不用中位數只用平均數會變成怎樣薪資平均所得

In [20]:
b = numpy.array([1000])
m = numpy.concatenate([a,b])

In [21]:
m

array([  75,   69,   70,   91,   58,   73,   82,   77,   85,   72,   76,
         75,   45,   79,   64,   83,   72,   65,   71,   83,   62,   80,
         65,   87,   79,   86,   66,   73,   82,   77,   71,   81,   44,
         75,   48,   73,   79,   76,   77,   77,   69,   76,   67,   69,
         62,   65,   66,   74,   65,   59,   74,   61,   64,   71,   79,
         75,   80,   78,   79,   71,   71,   60,   80,   72,   65,   87,
         80,   77,   66,   85,   64,   74,   74,   71,   59,   84,   51,
         69,   70,   59,   64,   82,   88,   83,   69,   66,   70,   76,
         65,   85,   80,   63,   54,   62,   72,   60,   58,   56,   68,
         76, 1000])

In [22]:
s2 = pandas.Series(m)

In [24]:
s2.median()

72.0

In [26]:
#這邊因為導入了高薪資的平順導自薪資會過於異常

In [25]:
s2.mean()

80.61386138613861